body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #F5E6D3;
    background-color: #54a4b3;
}

.contact-left {
    text-align: center;
    margin-bottom: 20px;
    width: 50%;
    padding: 20px;
 
}
/* .contact-left {
    padding: 40px;
    background-color: #f7f9fc;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    color: #333;
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 20px auto;
} */

.contact-left h1 {
    font-size: 32px;
    /* color: #007bff; */
    margin-bottom: 20px;
    text-align: center;
}

.contact-left p {
    font-size: 18px;
    line-height: 1.3;
    /* color: #555; */
    text-align: justify;
}

/* .contact-left:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
} */


.contact-right {
    display: flex;
    flex-direction: column;
    padding:20px;
    /* align-items: center; */
    width: 50%;
    gap:10px;
    /* max-width: 600px; */
    /* text-align: center; */
}
.contact-right  label{
    display: inline-flex;
}
.form-group {
    margin-bottom: 15px;
    display:flex;
}
.form-group div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.contact-right input{
    width:60%;
}
.contact-form input{
    width:80%;
    outline: none;
}
.contact-sendbtn{
    width:160px;
}
.contact-right label {
    margin-bottom: 5px;
    font-weight: bold;
   
}

.contact-right input, .contact-right textarea {
    /* width: 100%; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-right textarea {
    resize: vertical; 
    min-height: 100px; 
}

.contact-sendbtn {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-sendbtn:hover {
    background-color: #218838;
    transform:scale(1.1);
}

/* Responsive Styles */
@media (max-width: 600px) {
    .contact-container {
        padding: 10px;
        flex-direction:column;
    }
    .contact-left p{
        display: none;
       
    }
    .contact-left h1{
        font-size: 24px;
    }

    .contact-right ,.contact-left{
        width: 100%;
        padding:0px;
        
    }
    .contact-sendbtn {

    }
    .contact-right textarea{
        width:90%;
    }
}
